* {
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0px;
  margin-left: 1rem;
}

#workspaces button {
  border-radius: 1rem;
  padding: 0.5rem;
}

#workspaces button.active {
  border-radius: 1rem;
}

#workspaces button:hover {
  border-radius: 1rem;
}

#custom-music,
#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 1rem;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
